<div class="footer">
		<div class="copyright">
			<div class=""><a href="https://www.crowdflare.app/privacy" target="_blank">Privacy Policy</a> | Copyright &copy; <%= Time.now.year %>. Crowdflare INC. All Rights Reserved.</div>
		</div>
</div>
