<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Crowdflare</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "application" %>

	<%= csrf_meta_tags %>

</head>
<body class="login">
 <%= react_component("Authentication", {}, {tag: 'span'}) %>
</body>
</html>
